/*speech*/
.speech {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

/*song*/
.song {
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    text-indent: 40px;
}


.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    background-color: azure;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.direction:hover{
    background-color:bisque;
    color:aquamarine;
}


/* characters */
.PRET{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}


.SILL{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}


.NICE{
    color :chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.SPAR{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.MER{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.MER:hover{
    background-color:bisque;
    color:brown;
    border: 2px solid;
    filter: blur(1px);
}

.THES{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.THES:hover{
    background-color:bisque;
    color:brown;
    border: 2px solid;
    filter: blur(1px);
    text-shadow: 3px 3px;
}

.ALL{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:chocolate;
}

/*speech*/
.speech {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

/*song*/
.song {
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    text-indent: 40px;
}

.song1{
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    text-indent: 40px;
}

.song2{
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: black;
    text-indent: 40px;
}

/* table*/
.table ,th, td{
    border: solid 2px;
    border-collapse: collapse;
    color:black;
    text-align: center;
    padding: 30px;
    margin:auto;
}

tr:nth-child(odd)  {
    background-color:slategrey;
 }

tr:nth-child(even)  {
    background-color:beige;
}

.scene{
    color: aqua;
}

.navigationbar-horizontal {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:aliceblue;
}

ul.navigationbar-horizontal li {
    float:left; 
    color:beige;
    background-color:burlywood;
}
    
.navigationbar-horizontal a {
    display:block;
    padding: 15px;
    color: aliceblue;
}

.navigationbar-horizontal a:hover {  
    background-color:cyan;
    color:white;
}

